NetworkVolumeInfo.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
NetworkVolumeInfo.xcodeproj/project.xcworkspace/xcuserdata/
NetworkVolumeInfo.xcodeproj/xcshareddata/
NetworkVolumeInfo.xcodeproj/xcuserdata/vinegi.xcuserdatad/xcdebugger/
.DS_Store